*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.header
{
    width: 100%;
    height: 80px;
    background-color: black;
}
.container
{
    width: 80%;
    height: 80px;
    background-color: black;
    margin: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.ul1 
{
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.ul1 li 
{
    display: flex;
    justify-content: end;
    padding: 0px 20px;
}
.ul1 li a 
{
    list-style: none;
    text-decoration: none;
    color: white;
}
.scontainer
{
    width: 100%;
    height: 60px;
    background-color: white;
}
.menu
{
    width: 80%;
    height: 60px;
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img
{
    height: 35px;
    width: 50%;
    margin-left: 10px;
}
.nav ul
{
    display: flex;
}
.nav ul li
{
    list-style: none;
    padding: 0px 10px;
}
.nav ul li a
{
    text-decoration: none; 
    color: black;
}
.search input
{
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px 0px;
}
.search i
{
    position: relative;
    left: 30px;
    top: 2px;
}
::placeholder
{
    padding-left: 30px;
}
.image
{
    width: 100%;
    height: 500px;
}
.sub-image
{
    width: 80%;
    height: 500px;
    margin: auto;
}
.sub-image img
{
    width: 100%;
    height: 100%;
}

/* hover underline */
.nav ul li::after
{
    content: '';
    border-bottom: 1px solid black;
    display: none;
    width: 50%;
    margin: auto;
    transition: all 0.7s;
}
.nav ul li:hover::after
{
    width: 100%;
    display: block;
   
}

.haps
{
    width: 100%;
   height: 60px;
}
.haps h2
{
    text-align: center;
    padding: 10px 0px ;
}
.haps h2::before
{
    content: '';
    display: block;
    border: 1px solid black;
    width: 30%;
    position: relative;
    top: 14px;
    left: 12%;
}
.haps h2::after
{
    content: '';
    display: block;
    border: 1px solid black;
    width: 30%;
    position: relative;
    top: -15px;
    left: 58%;
}
.content-image
{
    width: 100%;
    height: 600px;
}
.sub-content-image
{
    width: 80%;
    height: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1
{
    width: 23%;
    height: 280px;
    margin-right: 10px;
    background-color: yellow;
    border-radius: 20px;
}
.box2
{
    width: 23%;
    height: 280px;
    margin-right: 10px;
    background-color: yellow;
    border-radius: 20px;
}
.box3
{
    width: 23%;
    height: 280px;
    margin-right: 10px;
    background-color: yellow;
    border-radius: 20px;
}
.box4
{
    width: 23%;
    height: 280px;
    margin-right: 10px;
    background-color: yellow;
    border-radius: 20px;
}
.sub-content-image2
{
    width: 80%;
    height: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box5
{
    width: 23%;
    height: 280px;
    margin-right: 10px;
    background-color: yellow;
    border-radius: 20px;
}
.box6
{
    width: 23%;
    height: 280px;
    margin-right: 10px;
    background-color: yellow;
    border-radius: 20px;
}
.box7
{
    width: 23%;
    height: 280px;
    margin-right: 10px;
    background-color: yellow;
    border-radius: 20px;
}
.box8
{
    width: 23%;
    height: 280px;
    margin-right: 10px;
    background-color: yellow;
    border-radius: 20px;
}
.box1 img 
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.box2 img 
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.box3 img 
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.box4 img 
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.box5 img 
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.box6 img 
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.box7 img 
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.box8 img 
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


.haps2
{
    width: 100%;
   height: 60px;
}
.haps2 h2
{
    text-align: center;
    padding: 10px 0px ;
}
.haps2 h2::before
{
    content: '';
    display: block;
    border: 1px solid black;
    width: 30%;
    position: relative;
    top: 13px;
    left: 13.5%;
}
.haps2 h2::after
{
    content: '';
    display: block;
    border: 1px solid black;
    width: 30%;
    position: relative;
    top: -16px;
    left: 56.5%;
}

.moment
{
    width: 100%;
}
.sub-moment
{
    width: 80%;
    height: 420px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.sub-moment .gif
{
    width: 23%;
    height:400px;
    margin: 10px;
    border-radius: 20px;
}
.sub-moment .gif img
{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.sub-moment .gif video
{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.moment2
{
    width: 100%;
    height: 420px;
}
.sub-moment2
{
    width: 80%;
    height: 420px;
    margin: auto; 
    display: flex;
    justify-content: space-between;
}
.sub-moment2 .gif
{
    width: 23%;
    height: 400px;
    margin: 10px;
    border-radius: 20px;
}
.sub-moment2 .gif video
{
    height: 400px;
    width: 100%;
    border-radius: 20px;
}
.footer
{
    width: 100%;
    height: 250px;
    margin-top: 20px;
    background-color: whitesmoke;
}
.sub-footer
{
    width: 80%;
    height: 250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}
li
{
    list-style: none;
    padding: 5px 0px;
}
li a
{
    text-decoration: none;
    padding: 5px 0px;
    color: black;
}
.border
{
    height: 1px;
    width: 100%;
    border: 1px solid black;
}
.follow
{
    width: 100%;
    height: 250px;
}
.follow h2
{
    text-align: center;
}
.follow h2::before
{
    content: '';
    display: block;
    width: 40%;
    border-bottom: 1px solid black;
    position: relative;
    top: 16px;
    left: 5%;
}
.follow h2::after
{
    content: '';
    display: block;
    width: 40%;
    border-bottom: 1px solid black;
    position: relative;
    top: -12px;
    left: 55%;
}
.icon
{
    height: 60px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon-1
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
   
}
.icon-1 img
{
    height: 50px;
    width: 50px;
    padding: 0px 5px;
}
h5
{
    text-align: center;
    margin-top: 10px;
    
}
